@CHARSET "UTF-8";
a {
	cursor: pointer;
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#back_link_style {
	font-size: 14px;
	color: #004d17;
}

.a {
	color: #fff;
}

input:focus::-webkit-input-value {
	color: transparent !important;
}

input:focus::-moz-value {
	color: transparent !important;
}

input:focus:-moz-value {
	color: transparent !important;
}

<!--
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	font-size: 20px
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
-->


input[type=text], input[type=password], select {
	width: 100%;
	margin: 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	/*border-radius: 5px;*/
	/*margin-left:8%;*/
	/*height: 35px;*/
	padding-top: 0px;
	/*padding-left: 5px;*/
}

input[type=text], input[type=password] {
	border: 1px solid #c4d600;;
}

footer {
	background-color: white;
	height: 100px;
	position: fixed;
	bottom: 0;
	-webkit-transition: bottom 0.2s ease-in-out;
	transition: bottom 0.2s ease-in-out;
	width: 100%;
	margin-left: -8px;
}

.footer_text {
		background-color: #004d17;
	
	height: 50px;
	color: #fff;
	
	font-size: 10px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 8%;
}

input:focus {
	outline: none;
}

#main_header_text {
	padding-top: 10px;
	text-align: left;
	margin: auto;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #7d7d7d;
	width: 75%;
}

hr {
	display: block;
	margin-top: 4px;
	margin-bottom: 0.5em;
	border-style: inset;
	border-width: 1px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	width: 75%;
	padding-bottom: 35px;
}

.headerDiv {
	align: right;
	margin-left: auto;
	margin-right: auto;
}

.header_button {
	color: #fff;
	text-align: center;
	padding-left: 13px;
	cursor: pointer;
	border-radius: 2px;
	background-color: #c4d600;
	border: 0px solid #a2a2a2;
	font-size: 13px;
	width: 85px;
	margin-top: 13px;
	height: 30px;
}

.action_button {
	color: #fff;
	text-align: center;
	padding-left: 13px;
	cursor: pointer;
	border-radius: 2px;
	background-color: #c4d600;
	border: 0px solid #a2a2a2;
	font-size: 13px;
	width: 120px;
	margin-top: 0px;
	height: 30px;
}

.green_bar1 {
	height: 20px;
	color: #fff;
	background-color: #004d17;
	text-align: left;
	width: 100%;
	margin: auto;
	margin-top: 5px;
}

.smbc_header_logo {
	width: 27.375px;
	height: 45px;
	padding-right: 0px;
	padding-left: 0px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

tr {
	background: #ffffff;
}

tbody {
	overflow: scroll;
	width: 150px;
}

.viewtable td {
	text-align: left;
}

input {
	padding-left: 5px;
}

    /* 表示文字の装飾 */
    div.tooltip1{
        color: #555;       
    }
     
    /* ツールチップ部分を隠す */
    div.tooltip1 span {
        display: none;
    }
     
    /* マウスオーバー */
    div.tooltip1:hover {
        position: relative;
        color: #333;
    }
     
    /* マウスオーバー時にツールチップを表示 */
    div.tooltip1:hover span {
        display: block;                  /* ボックス要素にする */
        position: absolute;            /* relativeからの絶対位置 */
        top: 25px;
        font-size: 90%;
        color: #fff;
        background-color: #51A2C1;
        width: 205px;
        padding: 5px;
        border-radius:3px;
        z-index:100;
    }
     
    /* フキダシ部分を作成 */
    div.tooltip1 span:before{
        content:''; 
        display:block; 
        position:absolute;                         /* relativeからの絶対位置 */
        height:0; 
        width:0; 
        top:-13px; 
        left:15px;
        border:13px transparent solid; 
        border-right-width:0; 
        border-left-color:#51A2C1; 
        transform:rotate(270deg);            /* 傾きをつける */
        -webkit-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        z-index:100;
    }